{% extends "nochrome.html" %}
{% load i18n %}

{% block header %}
    <header class="bg-black border-bottom" data-bs-theme="dark">
        <div class="container">
            <nav class="navbar navbar-expand-sm">
                <a href="/" rel="home" class="navbar-brand">{% translate 'Reimbursements' %}</a>
                {% if perms.main.add_export %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'export-list' %}" class="nav-link">{% translate 'Exports' %}</a>
                        </li>
                    </ul>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}?next={{ request.get_full_path|iriencode }}" class="btn btn-secondary ms-auto">{% translate 'Logout' %}</a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}
