{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block title %}{% translate "Log in" %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <p class="alert alert-danger" role="alert">{{ error }}</p>
        {% endfor %}

        {% bootstrap_field form.username %}
        {% bootstrap_field form.password %}
        <input type="hidden" name="next" value="{{ next }}">

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Login' %}</button>
        </div>
    </form>
{% endblock %}
