<!DOCTYPE html>
{% load i18n static django_bootstrap5 %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src 'self' data:" />
    <title>{% block title %}{% translate 'Reimbursements' %}{% endblock %}</title>
    <link href="{% static 'favicon.ico' %}" rel="icon">
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '@fortawesome/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'select/select.css' %}">
    <link rel="stylesheet" type="text/css" href="{% url 'colors' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    {% block header %}{% endblock %}
    <main class="{% block container_class %}container{% endblock %} {% if not study %}mt-5{% endif %} py-3">
        {% for message in messages %}
            <div class="alert alert-{{ message|bootstrap_message_alert_type }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </main>

    <script type="module" src="{% static 'select/select.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>
