{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <p>{% translate "Are you sure you want to <strong>permanently delete</strong> this export as well as all the included reimbursement requests?" %}</p>
        <p>{% blocktranslate with count=export.reimbursement_set.count date=export.created_at|date by=export.created_by %}{{ count }} items by {{ by }} on {{ date }}{% endblocktranslate %}</p>
        <div class="d-print-none mb-3">
            <a href="{% url 'export-list' %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger">{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
