{% extends "base.html" %}
{% load i18n static django_bootstrap5 %}

{% block title %}{% translate 'Exports' %} &middot; {{ block.super }}{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'export-create' %}">
        {% csrf_token %}
        {% if count == 0 %}
            <button class="btn btn-primary" disabled>{% translate 'No items available' %}</button>
        {% else %}
            <button class="btn btn-primary">{% blocktranslate with count=count %}Export {{ count }} items{% endblocktranslate %}</button>
        {% endif %}
    </form>

    <div class="list-group my-3">
        {% for export in object_list %}
            <div class="list-group-item d-flex align-items-center justify-content-between">
                <span>
                    {% blocktranslate with count=export.count date=export.created_at|date by=export.created_by %}{{ count }} items by {{ by }} on {{ date }}{% endblocktranslate %}
                </span>
                <div>
                    <a href="{% url 'export' export.pk %}" class="btn btn-outline-primary">{% translate 'Download again' %}</a>
                    <a href="{% url 'export-delete' export.pk %}" class="btn btn-danger">{% translate 'Delete' %}</a>
                </div>
            </div>
        {% empty %}
            <em>{% translate 'No exports yet' %}</em>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'export.js' %}" type="module"></script>
{% endblock %}
