{% extends "main/study_base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <form method="post">
        {% csrf_token %}
        <p>{% translate "Are you sure you want to <strong>permanently delete</strong> this reimbursement?" %}</p>
        <dl>
            <dt>{% translate 'Date' %}</dt>
            <dd>{{ reimbursement.created_at }}</dd>

            <dt>{% translate 'Name' %}</dt>
            <dd>{{ reimbursement.first_name }} {{ reimbursement.last_name }}</dd>

            <dt>{% translate 'Amount' %}</dt>
            <dd>{{ reimbursement.amount }} EUR</dd>

            <dt>{% translate 'Address' %}</dt>
            <dd>
                {{ reimbursement.street }} {{ reimbursement.house_number }}<br>
                {{ reimbursement.zip_code }} {{ reimbursement.city }}
            </dd>

            <dt>{% translate 'IBAN' %}</dt>
            <dd>
                {{ reimbursement.get_account_holder }}<br>
                {{ reimbursement.iban }}<br>
            </dd>
        </dl>
        <div class="d-print-none mb-3">
            <a href="{% url 'study-items' object.study.pk %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger">{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
