{% extends "nochrome.html" %}
{% load static i18n django_bootstrap5 %}

{% block title %}{% translate 'Confirmation of Study Participation / Expense Allowance' %}{% endblock %}

{% block content %}
    <img src="{% static 'MPIB_Logo_DE.svg' %}" alt="Logo: Max-Planck-Institut für Bildungsforschung" class="d-block ms-auto mb-4">
    <h1>{% translate 'Confirmation of Study Participation / Expense Allowance' %}</h1>
    <p class="h4 my-4">{% translate 'Study:' %} {{ view.study }}</p>
    <form method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-6">
                {% bootstrap_field form.first_name %}
            </div>
            <div class="col-sm-6">
                {% bootstrap_field form.last_name %}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                {% bootstrap_field form.street %}
            </div>
            <div class="col-sm-4">
                {% bootstrap_field form.house_number %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                {% bootstrap_field form.zip_code %}
            </div>
            <div class="col-sm-8">
                {% bootstrap_field form.city %}
            </div>
        </div>

        {% bootstrap_field form.amount addon_after='EUR' %}
        {% bootstrap_field form.account_holder %}
        {% bootstrap_field form.iban %}

        <div class="form-check mb-3">
            <input class="form-check-input" id="check" type="checkbox" required>
            <label class="form-check-label" for="check">{% translate 'I hereby confirm that I have participated in the above study. Please transfer the money to the given account.' %}</label>
        </div>

        <div class="d-print-none mb-3">
            <button class="btn btn-primary">{% translate 'Save' %}</button>
            {% if object %}
                <a href="{% url 'reimbursement-delete' object.study.pk object.pk %}" class="btn btn-danger">{% translate 'Delete' %}</a>
            {% endif %}
        </div>
    </form>
{% endblock %}
