{% extends "main/study_base.html" %}
{% load i18n %}

{% block content %}
    {{ block.super }}

    <form method="post">
        {% csrf_token %}
        <p>{% translate "Are you sure you want to <strong>permanently delete</strong> this study?" %}</p>
        <div class="d-print-none mb-3">
            <a href="{% url 'study-detail' object.pk %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            <button class="btn btn-danger">{% translate 'Confirm' %}</button>
        </div>
    </form>
{% endblock %}
