{% extends "main/study_base.html" %}
{% load static i18n %}

{% block container_class %}container-lg{% endblock %}

{% block content %}
    {{ block.super }}

    <table class="table" data-username="{{ user.get_full_name|default:user }}">
        <thead>
            <tr>
                <th>{% translate 'Date' %}</th>
                <th>{% translate 'Name' %}</th>
                <th>{% translate 'Amount' %}</th>
                <th>{% translate 'Address' %}</th>
                <th>{% translate 'IBAN' %}</th>
                <th>{% translate 'Conductor' %}</th>
                <th>{% translate 'Project manager' %}</th>
                <th>{% translate 'Exported' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for reimbursement in reimbursements %}
                <tr>
                    <td>{{ reimbursement.created_at }}</td>
                    <td>{{ reimbursement.first_name }} {{ reimbursement.last_name }}</td>
                    <td>{{ reimbursement.amount }} EUR</td>
                    <td>
                        {{ reimbursement.street }} {{ reimbursement.house_number }}<br>
                        {{ reimbursement.zip_code }} {{ reimbursement.city }}
                    </td>
                    <td>
                        {{ reimbursement.get_account_holder }}<br>
                        {{ reimbursement.iban }}<br>
                    </td>
                    <td>
                        {% if reimbursement.approved_by_conductor %}
                            {{ reimbursement.approved_by_conductor.get_full_name|default:reimbursement.approved_by_conductor }}
                        {% elif is_conductor %}
                            <form method="POST" action="{% url 'conductor-approve' study.pk reimbursement.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary">{% translate 'Approve' %}</button>
                            </form>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>
                        {% if reimbursement.approved_by_owner %}
                            {{ reimbursement.approved_by_owner.get_full_name|default:reimbursement.approved_by_owner }}
                        {% elif is_owner and reimbursement.approved_by_conductor and request.user != reimbursement.approved_by_conductor %}
                            <form method="POST" action="{% url 'owner-approve' study.pk reimbursement.pk %}">
                                {% csrf_token %}
                                <button class="btn btn-outline-primary">{% translate 'Approve' %}</button>
                            </form>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>
                        {% if reimbursement.export %}
                            {{ reimbursement.export.created_at|date }}
                        {% elif is_owner %}
                            <a class="btn btn-outline-danger" href="{% url 'reimbursement-delete' study.pk reimbursement.pk %}">{% translate 'Delete' %}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="8"><em>{% translate 'No open reimbursements' %}</em></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="d-print-none mb-3">
        <a href="{% url 'study-detail' object.pk %}" class="btn btn-outline-primary">{% translate 'Back' %}</a>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script src="{% static 'approve.js' %}" type="module"></script>
{% endblock %}
