{% extends "base.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    {% if perms.main.add_study %}
        <a href="{% url 'study-create' %}" class="btn btn-primary">{% translate 'Create study' %}</a>
    {% endif %}

    <div class="list-group my-3">
        {% for study in object_list %}
            <a class="list-group-item list-group-item-action" href="{% url 'study-detail' study.pk %}">{{ study }}</a>
        {% empty %}
            <em>{% translate 'No studies yet' %}</em>
        {% endfor %}
    </div>

    {% if is_paginated %}
        <nav aria-label="{% translate 'Pagination' %}">
            {% bootstrap_pagination page_obj url=request.get_full_path %}
        </nav>
    {% endif %}
{% endblock %}
