{% extends "base.html" %}

{% block title %}{% if study %}{{ study }} &middot; {% endif %}{{ block.super }}{% endblock %}

{% block content %}
    {% if study %}
        <h1>{{ study }}</h1>
        <p><a href="{{ study.url }}">{{ study.url }}</a></p>
    {% endif %}
{% endblock %}
