{% extends "main/study_base.html" %}
{% load i18n django_bootstrap5 %}

{% block content %}
    {{ block.super }}

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.url %}
        {% bootstrap_field form.cost_center %}
        {% bootstrap_field form.owners %}
        {% bootstrap_field form.conductors %}
        <div class="d-print-none mb-3">
            {% if object %}
                <a href="{% url 'study-detail' object.pk %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            {% else %}
                <a href="{% url 'study-list' %}" class="btn btn-outline-primary">{% translate 'Cancel' %}</a>
            {% endif %}
            <button class="btn btn-primary">{% translate 'Save' %}</button>
        </div>
    </form>
{% endblock %}
