{% extends "main/study_base.html" %}
{% load static i18n utils %}

{% block content %}
    <a class="float-end" href="{{ create_url }}">{{ create_url|qrcode }}</a>

    {{ block.super }}

    <div class="d-print-none mb-3">
        <a href="{% url 'study-items' object.pk %}" class="btn btn-primary">{% translate 'Reimbursements' %}</a>
        {% if is_owner %}
            <a href="{% url 'study-update' object.pk %}" class="btn btn-primary">{% translate 'Edit' %}</a>
            <a href="{% url 'study-delete' object.pk %}" class="btn btn-danger">{% translate 'Delete' %}</a>
        {% endif %}
    </div>
{% endblock %}
